{% extends 'base.html' %}

{% block title %}Index Page{% endblock %}

{% block content %}
<div style="display: flex; height: 100%;">
    <div id="code-editor" style="width: 50%; height: 100%;"></div>
    <div id="resizable-divider"></div>
    <div style="width: 50%; height: 100%; display: flex; flex-direction: column;">

        <div style="flex: 1; background-color: lightblue;">
            <!-- Top div with lightblue background -->
            <h2>{{ problem['title'] }}</h2>
            <p>{{ problem['description'] }}</p>
        </div>

        <div style="flex: 1; background-color: lightcoral;">
            <!--<video width="640" height="480" controls>
                <source src="{{ video_path | replace('.mp4', '.webm') }}" type="video/webm">
                Your browser does not support the video tag.
            </video>-->
        </div>
    </div>
</div>

<script>
    // Initialize CodeMirror
    var editor = CodeMirror(document.getElementById("code-editor"), {
        value: "<html>\n  <head>\n    <title>Your HTML Page</title>\n  </head>\n  <body>\n    <h1>Hello, World!</h1>\n  </body>\n</html>",
        mode: "htmlmixed",
        lineNumbers: true,
        theme: "dracula"
    });

    // Initialize Split.js for resizable columns
    Split(['#code-editor', '#resizable-divider', '#right-column'], {
        sizes: [50, 1, 49],  // Initial sizes of the columns
        minSize: [0, 1, 0],  // Minimum size for each column
    });
</script>
{% endblock %}